<h1>Product List</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Images</th>
      <th>Launch Date</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.images %></td>
        <td><%= product.launch_date %></td>
        <td><%= product.price %></td>
        <td><%= product.currency %></td>
        <td><%= product.active ? 'Yes' : 'No' %></td>
         <td>
          <%= link_to 'Edit', edit_product_path(product) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>